<li class="popup__group gap-half overflow-ellipsis" data-navigable-list-target="item" data-filter-target="item" id="filter-custom-create">
  <%= link_to cards_path(expand_all: true), class: "btn popup__new popup__item" do %>
    <%= icon_tag "bookmark" %>
    <div class="flex flex-column txt-tight-lines min-width txt-small">
      <strong class="overflow-ellipsis">Create a new filter</strong>
    </div>
    <span class="translucent flex-item-no-shrink flex-item-justify-end"> ›</span>
  <% end %>
</li>
