<%= turbo_frame_tag :stream_column do %>
  <% if @page.used? %>
    <%= with_manual_pagination :stream_column, @page do %>
      <%= render "collections/columns/list", cards: @page.records, draggable: true %>
    <% end %>
  <% else %>
    <div class="card blank-slate blank-slate--card">
      <p class="txt-align-center txt-normal">Drag cards here</p>
    </div>
  <% end %>
<% end %>
