<%= turbo_frame_tag :workflows do %>
  <section class="flex flex-column gap fill-shade border-radius">
    <%= render partial: "workflows/workflow", collection: @workflows %>
  </section>

  <%= link_to "New workflow", new_workflow_path, class: "btn" %>
<% end %>
