<section id="the-stream" class="cards cards--considering"
  data-drag-and-drop-target="container"
  data-action="turbo:before-morph-attribute->collapsible-columns#preventToggle"
  data-drag-and-drop-url="<%= columns_card_drops_stream_path("__id__") %>">
  <div class="cards__decoration"></div>

  <%= render "columns/show/add_card_button", collection: collection %>

  <% if page.used? %>
    <%= with_manual_pagination "the-stream", @page do %>
      <%= render "collections/columns/list", cards: page.records, draggable: true %>
    <% end %>
  <% end %>

  <div class="cards__decoration cards__decoration--end"></div>
</section>
