@layer components {
  .profile-layout {
    display: flex;
    gap: var(--inline-space);

    @media (min-width: 800px) {
      align-items: stretch;
      justify-content: center;
    }

    @media (max-width: 799px) {
      align-items: center;
      flex-direction: column;
    }
  }
}
