service: fizzy
image: basecamp/fizzy

servers:
  jobs:
    cmd: bin/jobs

volumes:
  - fizzy:/rails/storage

proxy:
  ssl: true

registry:
  server: registry.37signals.com
  username: robot$harbor-bot
  password: 
    - BASECAMP_REGISTRY_PASSWORD

builder:
  arch: amd64
  secrets:
    - GITHUB_TOKEN

env:
  secret:
    - RAILS_MASTER_KEY

aliases:
  console: app exec -i --reuse "bin/rails console"
  ssh: app exec -i --reuse /bin/bash
