<%= turbo_frame_tag "bar-content" do %>
  <div class="search__header">
    <button class="btn txt-x-small" data-action="bar#reset">
      <%= icon_tag "remove-med" %>
      <span class="for-screen-reader">Close</span>
    </button>
  </div>

  <section class="search">
    <div class="search__results">
      <% if @search_results.none? %>
        <div class="search__empty">
          Not matches
        </div>
      <% end %>

      <ul class="search__list">
        <%= render partial: "searches/result", collection: @search_results %>
      </ul>
    </div>
  </section>
<% end %>
