lexical-editor {
  .node--selected {
    &:not(:has(img)) {
      box-shadow: 0 0 0 var(--hover-size) var(--hover-color);
    }

    &:has(img) {
      img {
        box-shadow: 0 0 0 var(--hover-size) var(--hover-color);
      }
    }
  }
}

.lexical-editor__content {
  --outline-size: max(2px, 0.08em);

  margin: var(--block-space-half) 0;
  min-block-size: calc(7lh + var(--block-space));
  outline: 0;
  padding: var(--block-space-half) var(--inline-space);

  * {
    &:first-child {
      margin-block-start: 0;
    }

    &:last-child {
      margin-block-end: 0;
    }
  }
}

.lexical-editor--drag-over {
  background-color: var(--color-selected);
  border-radius: 4px;
  outline: 2px dashed var(--color-selected-dark);
}

#link-dialog {
  background-color: var(--color-canvas);
  border: 1px solid var(--color-ink-lighter);
  border-radius: 0.5em;
  box-shadow: var(--shadow);
  color: var(--color-ink);
  padding: var(--block-space-half) var(--inline-space);
}

lexical-toolbar {
  background-color: inherit;
  border-block-end: 1px solid var(--color-ink-light);
  color: currentColor;
  display: flex;
  font-size: inherit;
  margin: 0;
  max-inline-size: 100%;
  padding: 0.2em 0;
  position: relative;

  dialog {
    position: absolute;
  }

  button {
    aspect-ratio: 4/3.5;
    appearance: none;
    background-color: transparent;
    block-size: 2em;
    border: none;
    border-radius: 0.2em;
    color: currentColor;
    cursor: pointer;
    display: grid;
    font-size: inherit;
    inline-size: auto;
    place-items: center;
    transition: background-color 300ms ease;

    svg {
      -webkit-touch-callout: none;
      block-size: 0.9em;
      fill: currentColor;
      grid-area: 1/1;
      inline-size: auto;
      user-select: none;
    }

    &:is(:focus, :hover) {
      background-color: var(--color-ink-lighter);
      box-shadow: none;
    }

    &:is(:active) {
      background-color: var(--color-selected);
    }
  }
}
